body{
    background: white url("images/background.jpg");
}

h1, h2, h3,
h4, h5, h6 {
    color: #ff0000;
    margin-bottom: 0;
    padding-bottom: 0;
     font-family: Times New Roman;
}


li{
    font-family: Cambria;
    font-size: 22px;
}

a {
    color: #0f0f0f;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

a:link, a:visited,
a:active, a:hover {
    color: #f0f0f0;
}

a:hover {
    background-color: #c7d106;
}